* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0cm;
    padding: 0cm;

  }
  nav {
      background-color: rgb(201, 201, 14);
      text-align: right;
      padding: 15px;
  }

  nav li {
      color: white;
      display: inline-block;
      text-decoration: inline;
      text-align: right;
      font-size: 16px;
      padding-right: 100px;
    }

img {
  display: block;
  margin: 20px auto;
  width: 500px;
}

main {
  background-color: rgb(165, 167, 163);
  align-content: center;
  padding: 20px;
}

.h2 {
  text-align: center;
}

.b img {
  width: 500px;
  border: 5px solid black;
  
}

.a img {
  width: 500px;
  height: 100px;
  border: 5px solid black;
}

.slg {
  width: 500px;
}
 footer {
   text-align: center;
   background-color: black;
   padding: 40px;
   color: blanchedalmond;
 }

 .banner .banner-img {
   width: 100%;
   height: 200px;
   padding: 0px;
   margin: 0px;
}